<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between titulo-pagina">
            <titulo-pagina-crud
                entidade="Produtos"
                acao="Consultar"
            ></titulo-pagina-crud>
            <div>
                <novo-button></novo-button>
            </div>
        </div>

        <div class="card">
            <produto-filtro
                #filtroComponent
                [grupos]="grupos$ | async"
                [departamentos]="departamentos$ | async"
                (buscar)="onBuscar($event.filtro)"
            ></produto-filtro>
            <tabela-crud
                [colunas]="colunas"
                [dados]="registros"
                [exibirAcaoEditar]="exibirAcaoEditar"
                [exibirAcaoExcluir]="exibirAcaoExcluir"
                [loading]="loading"
                (selecionadosChange)="selecionados = $event"
                (editar)="onEditar($event)"
                (excluir)="onExcluir($event)"
            ></tabela-crud>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
