<p-toast></p-toast>

<div class="card">
    <p-table #dt [value]="produtos" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="produtosSelecionados" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                <th pSortableColumn="preco">Preço <p-sortIcon field="preco"></p-sortIcon></th>
                <th pSortableColumn="departamento">Departamento <p-sortIcon field="departamento"></p-sortIcon></th>
                <th pSortableColumn="dataRequisicao">Data <p-sortIcon field="dataRequisicao"></p-sortIcon></th>
                <th pSortableColumn="requisitante">Requisitante <p-sortIcon field="requisitante"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-requisicao>
            <tr>
                <td>
                    <p-tableCheckbox [value]="produto"></p-tableCheckbox>
                </td>
                <td>{{requisicao.produto.descricao}}</td>
                <td>{{requisicao.produto.preco | currency:'BRL'}}</td>
                <td>{{requisicao.departamento}}</td>
                <td>{{requisicao.dataRequisicao}}</td>
                <td>{{requisicao.requisitante}}</td>
                <td>{{requisicao.status}}</td>
                <td><span [class]="'product-badge status-' + (produti.status ? produto.status.toLowerCase() : '')">{{produto.status}}</span></td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{products ? products.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="produtoDialog" [style]="{width: '450px'}" header="Detalhes do Produto" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="descricao">Descrição</label>
            <input type="text" pInputText id="descricao" [(ngModel)]="requisicao.produto.descricao" required autofocus disabled/>
        </div>
        <div class="p-field">
            <label for="detalhes">Detalhes</label>
            <textarea id="detalhes" pInputTextarea [(ngModel)]="requisicao.produto.detalhes" required rows="3" cols="20"></textarea>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="preco">Preço</label>
                <p-inputNumber id="preco" [(ngModel)]="requisicao.produto.preco" mode="currency" currency="BRL" locale="pt-BR" disabled ></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantidade">Quantidade</label>
                <p-inputNumber id="quantity" [(ngModel)]="requisicao.produto.quantidade"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


